.TaskTextComponents {
  display: flex;
  /* justify-content: space-between; */
}

.TaskText{
  font-size: 60px;
  text-align: center;
  margin-top: 140px;
}

.TaskLogo{
  font-size: 20px;
  position: absolute;
  left: 320px;
  top: 280px;
  border: 2px solid black;
}