
.outButton {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: Red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* 余白を追加 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.outButton:hover {
  background-color: #999;
}

